<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
            <!-- caseSensitive默认false，当数据库表名区分大小写时，可以将该属性设置为true -->
            <property name="caseSensitive" value="false"/>
        </plugin>

        <commentGenerator>
            <!-- 删除代码中带有 代码生成器的注释信息 -->
            <property name="suppressAllComments" value="true" />
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/education"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <!-- 不用生成,但要指定-->
        <javaModelGenerator targetPackage="cn.intellifai.Entity" targetProject="E:\workspace\Education\education1\Education_Service\src\main\java"/>

        <sqlMapGenerator targetPackage="Mappers" targetProject="E:\workspace\Education\education1\Education_Service\src\main\resources"/>

        <javaClientGenerator targetPackage="cn.intellifai.Mappers" targetProject="E:\workspace\Education\education1\Education_Service\src\main\java" type="XMLMAPPER"/>

        <table tableName="class_info"/>
        <table tableName="class_schedule"/>
        <table tableName="class_status"/>
        <table tableName="person_info"/>
        <table tableName="person_status"/>
        <table tableName="users"/>

    </context>

</generatorConfiguration>